* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

.navbar {
    background: linear-gradient(260deg, #757f9a 0%, #d7dde8 100%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 99;
}

.logo-background {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #757f9a;
    border: 2px solid #757f9a;
    border-radius: 50%;
    margin-left: 1rem;
    padding: .8rem;
}

.main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    margin: 0 .5rem;
    opacity: .8;
    cursor: pointer;
}

.nav-links:hover {
    opacity: 1;
    font-weight: 900;
}

#cover {
    background-image: url('./img/intro-pic.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cover-text {
    text-align: center;
    padding: 30vh 0 0;
    font-size: 2rem;
}

.scroll-down-arrow {
    position: absolute;
	left: 50%;
	bottom: 15px;
	font-size: 20px;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: translate(-50%, 0%) rotate(45deg);
	animation: FadeMoveDown 2s ease-in-out infinite;
}

@keyframes FadeMoveDown {
    0% {
    transform: translate(0, -10px) rotate(45deg); opacity: 0;   
    }
    50% {
        opacity: 1;  
    }
    100% {
        transform:translate(0, 10px) rotate(45deg); opacity: 0;
    }
}

#about {
    padding: 4rem 0 6rem;
    background: #eef2f3;
}

.header {
    text-align: center;
}

.header::after {
    content: '';
    display: block;
    border-bottom: 2px solid;
    width: 6rem;
    margin: 1rem auto 2rem;
}

#about img {
    display: block;
    margin: 1rem auto;
    box-shadow: 0 0 7px black;
    border-radius: 50px;
}

#about p {
    font-size: 1.2rem;
    line-height: 200%;
    width: 80%;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 0 5px grey;
    border-radius: 50px;
}

#projects {
    background-image: url('./img/experience-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .header {
    margin: 2rem 0;
}

.projects-container {
    background:#eef2f3;
    width: 80%;
    margin: 5rem 0;
    box-shadow: 0 0 5px grey;
    opacity: .98;
}

.projects-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    text-align: center;
    background: #d7dde8;
    box-shadow: 0 0 5px grey;
    width: 78%;
    margin: 0 auto 5rem;
    transition: transform .1s;
}

.flex:hover {
    transform: scale(1.02);
}

.projects-link {
    text-decoration: none;
    color: black;
    text-align: center;
    opacity: .93;
}

.projects-link:hover {
    opacity: 1;
}

.projects-image {
    width: 100%;
    height: auto;
}

#contact {
    background: #757f9a;
    padding: 5rem 0;
}

.contact-text {
    font-size: 1.5rem;
    background: #551a8b;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 3px black;
}

.contact-text p {
    font-size: 1.5rem;
    background: white;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 3px black;
}

.fa {
    text-decoration: none;
    opacity: .9;
    margin: 0 1rem;
    transition: transform .1s;
    color: #551a8b;
}

.fa:hover {
    opacity: 1;
    transform: scale(1.1);
}

.icons {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

.arrow-icon {
    font-size: 3rem;
}

.fa-angle-up {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    color: black;
}

footer {
    text-align: center;
    background: #551a8b;
    color: white;
    padding: .2rem .5rem;
}

@media screen and (max-width: 320px) {
    .cover-text {
        font-size: 1.5rem;
    }
    .logo {
        padding: .6rem;
    } 
    .nav-links {
        margin: .3rem;
    }
    .icons {
        font-size: 2rem;
    }
    .arrow-icon {
        font-size: 1.5rem;
    }
    .fa-angle-up {
        bottom: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 768px) {
    #about p, 
    .contact-text p {
        font-size: 1rem;
        line-height: 150%;
    }
    .flex {
        margin: 0 auto 2.5rem;
    }
    .arrow-icon {
        font-size: 2.5rem;
    }
    .fa-angle-up {
        bottom: 15px;
        right: 0;
    }
}
